.file-upload, .file-download{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 50px;
}

button{
    background-color: orange;
    border: 1px solid orange;
    border-radius: 3px;
}

#file-upload-button{
    background-color: orange;
    border: 1px solid orange;
    border-radius: 3px;
    margin-top: 50px;
}